#header
{
	background-color: lightblue;
}
.header
{
	display: inline;
	vertical-align: bottom;
}
#login, #welcome
{
	float: right;
}
ol.results
{
	list-style-type: none; 
	padding-left: 130px; 
}
ol.results li
{
	margin: 20px 0px;
}
ol.results li h3
{
	margin: 0px;
}
ol.results li cite
{
	color: green;
}